* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-color: white transparent;
}

body {
  scroll-behavior: smooth;
  background: black;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.bodyb {
  opacity: 0%;
  transition-duration: 1s;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  pointer-events: none;
  top: 0;
  z-index: 1000;
}

.actb {
  opacity: 90%;
  pointer-events: all;
}

section {
  height: 100vh;
  padding: 10%;
}

input, textarea {
  border: none;
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin-top: 30px;
  background: #ffffff;
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 12px;
  color: black;
  transition-duration: 200ms;
  cursor: pointer;
}

button:hover {
  background: #b8b8b8;
}

a {
  text-decoration: none;
}

.lh1 {
  font-family: 'Gamilia Demo';
  letter-spacing: 3px;
  font-size: 40px;
}

.header {
  width: 100%;
  padding: 20px 5%;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  display: none;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.header .nav a {
  font-weight: 500;
  transition-duration: 300ms;
}

.header .nav a:hover {
  color: rgb(196, 196, 196);
}

.circle {
  height: 100vh;
  width: 100vh;
  border-radius: 100%;
  background: rgb(63, 63, 63);
  position: fixed;
  top: 0;
  right: -100%;
  animation: circleMove 5s linear infinite;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 20;
  opacity: 0;
}

.circle h3 {
  color: rgb(160, 160, 160);
}

.list {
  width: 40vh;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  height: 300px;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  scrollbar-color: white transparent;
  scrollbar-width: thin;
  position: relative;
}

.list a {
  font-size: 35px;
  transition-duration: 500ms;
}

.list a:hover {
  padding-left: 20px;
}

.open {
  border-radius: 0%;
  right: 0;
  height: 100vh;
  width: 70vh;
  opacity: 1;
}

.OpenSideBar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: white;
  top: 5vh;
  right: 5vh;
  color: black;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  border: none;
  outline: none;
  transition-duration: 1s;
  margin-top: 0;
}

.CloseSideBar {
  margin-top: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: white;
  top: 5vh;
  right: 5vh;
  color: black;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  border: none;
  outline: none;
  transition-duration: 1s;
}

.SideHide {
  right: 5000px;
  opacity: 0;
}

.hero {
  text-align: left;
}

.hero h1 {
  font-size: 30px;
  padding-top: 100px;
}

.hero h2 {
  padding-top: 30px;
  font-size: 60px;
  font-weight: 900;
}

.hero h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.hero .btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .main h1 {
  font-size: 40px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectHead h1 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.projectHead p {
  font-size: 15px;
  text-align: center;
}

.projectList {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projectList .item {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3% 5%;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
  opacity: 40%;
  transition: all 0.6s;
  position: relative;
}

.follower {
  width: 300px;
  height: 300px;
  background-color: rgb(39, 39, 39);
  position: absolute;
  display: none; /* Hidden by default */
  pointer-events: none; /* Makes sure the follower does not block mouse events */
  transition: transform 0.1s ease; /* Smooth transition effect */
  border-radius: 15px;
  padding: 20px;
}

.projectList .item:hover {
  scale: 1.1;
  padding: 3% 8%;
  opacity: 1;
}

.contact a {
  font-size: 20px;
  margin-top: 50px;
  text-decoration: underline;
  cursor: pointer;
}

.form {
  height: 500px;
  width: 40%;
  background: rgb(54, 54, 54);
  position: fixed;
  top: 50px;
  left: 30%;
  border-radius: 40px;
  top: 200%;
  transition-duration: 1s;
  z-index: 1000;
}

.openForm {
  top: 50px;
  opacity: 100%;
}

.head {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.head * {
  font-size: 20px;
}

.head img {
  cursor: pointer;
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
}

.form form input {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  background: rgb(27, 27, 27);
}

.form form textarea {
  width: 100%;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  resize: none;
  border-radius: 15px;
  background: rgb(27, 27, 27);
}

.MenuBtn {
  position: fixed;
  bottom: 5vh;
  left: 5vh;
  height: 50px;
  width: 50px;
}