@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  padding: 5%;
}

.navLink {
  @apply flex items-center text-4xl uppercase font-bold duration-75 h-11 w-max;
}

.footLink {
  @apply hover:pl-3 duration-500 hover:font-semibold;
}

.footPara {
  @apply flex flex-col text-left pl-5 pb-5;
}

.btn {
  @apply duration-100;
}

.listItem {
  @apply flex items-center justify-between w-full border-y-2 border-white px-[5%] py-[2%] rounded-xl opacity-40 hover:opacity-100 hover:scale-105 duration-500 cursor-pointer my-4;
}
